<template>
  <div v-if="currentTask" class="edit-form">
    <h4>Task</h4>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title"
          v-model="currentTask.title"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description"
          v-model="currentTask.description"
        />
      </div>

      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentTask.completed ? "Completed" : "Pending" }}
      </div>
    </form>

    <button class="badge badge-primary mr-2"
      v-if="currentTask.completed"
      @click="updateCompleted(false)"
    >
      Open Task
    </button>
    <button v-else class="badge badge-primary mr-2"
      @click="updateCompleted(true)"
    >
      Close Task
    </button>

    <button class="badge badge-danger mr-2"
      @click="deleteTask"
    >
      Delete
    </button>

    <button type="submit" class="badge badge-success"
      @click="updateTask"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div v-else>
    <br />
    <p>Please click on a Task...</p>
  </div>
</template>

<script>
import TaskDataService from "../services/TaskDataService";

export default {
  name: "edit-task",
  data() {
    return {
      currentTask: null,
      message: ''
    };
  },
  methods: {
    getTask(id) {
      TaskDataService.get(id)
        .then(response => {
          this.currentTask = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },

    updateCompleted(status) {
      var data = {
        id: this.currentTask.id,
        title: this.currentTask.title,
        description: this.currentTask.description,
        completed: status
      };

      TaskDataService.update(this.currentTask.id, data)
        .then(response => {
          console.log(response.data);
          this.currentTask.completes = status;
          this.message = 'The status was updated successfully!';
        })
        .catch(e => {
          console.log(e);
        });
    },

    updateTask() {
      TaskDataService.update(this.currentTask.id, this.currentTask)
        .then(response => {
          console.log(response.data);
          this.message = 'The task was updated successfully!';
        })
        .catch(e => {
          console.log(e);
        });
    },

    deleteTask() {
      TaskDataService.delete(this.currentTask.id)
        .then(response => {
          console.log(response.data);
          this.$router.push("/api/tasks");
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
  mounted() {
    this.message = '';
    this.getTask(this.$route.params.id);
  }
};
</script>

<style>
.edit-form {
  max-width: 300px;
  margin: auto;
}
</style>
